
@{
    ViewData["Title"] = "CreateLection";
}

<html>
<head>
    <h2 style="color:white">Create Lection</h2>
</head>
<body style="background-color:black">
    <div style="display:inline-table">
        <form method="post">
            <label style="color:white"> Input Lection name</label>
            <input type="text" name="name" class="form-control" autofocus required>
            <label style="color:white"> Input small description</label>
            <br />
            <textarea name="smallDescription" rows="10" cols="100"></textarea>
            <br />
            <label style="color:white"> Input lection text</label>
            <br />
            <textarea name="text" rows="20" cols="100"></textarea>
            <br />
            <br />
            <h3 style="color:white"> @ViewBag.message </h3>
            <br />
            <input asp-controller="Lections" asp-action="SaveLection" type="submit" value="Save" class="btn btn-lg btn-success btn-block">
        </form>
        </div>
</body>
</html>
