
@{
    ViewData["Title"] = "Authorization";
}

<html>

<head>

</head>

<body style="background-color:black">
    <div class="container">
        <div class="row" style="margin-top:30px">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign In</h3>
                    </div>
                    <div class="panel-body">

                        <form method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Your login" name="username" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Your password" name="password" type="password">
                                </div>

                                <h3>@ViewBag.message </h3>

                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Sign In" asp-controller="Authorization" asp-action="SignIn">
                                <input class="btn btn-lg btn-success btn-block" type="submit" asp-controller="Authorization" asp-action="SignUp" value="Sign Up">
                            </fieldset>
                        </form>
                        <hr />
                        <div style="position:center">
                            @foreach (var item in Model)
                            {
                                <a class="btn btn-primary login-button" asp-action="Sign" asp-route-provider="@item"> @item </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>