
@{
    ViewData["Title"] = "SignUp";
}

<html>
<head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body style="background-color:black">
    <div class="span3" >
        <h2 style="color:white">Sign Up</h2>
        <form method="post">
            <label style="color:white">First Name</label>
            <input type="text" name="firstname" class="form-control" placeholder="Eugene"  autofocus required>
            <label style="color:white">Last Name</label>
            <input type="text" name="lastname"class="form-control" placeholder="Kurlovich"  autofocus required>
            <label style="color:white">Email Address</label>
            <input type="email" name="email" class="form-control"placeholder="Input correcy email" autofocus required>
            <label style="color:white">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" autofocus required>
            <label style="color:white">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Input Password" autofocus required>    
     
            <input asp-controller="Authorization" asp-action="Registration" type="submit" value="Sign up" class="btn btn-lg btn-success btn-block">
            <div class="clearfix"></div>
        </form>
    </div>

    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>

